html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #e7e7e7;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    flex-direction: column;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000000;
    background: #fff;
    border-bottom: none;
    margin-bottom: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.colored-logo {
    color: #fff;
    font-size: 30px;
    line-height: 10px;
    padding: 0 5px 4px;
    background-color: #0E5C66;
}

a.link-logo-header {
    height: 60px;
    line-height: 60px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 25px;
    font-weight: bold;
}

nav.nav-top>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

nav.nav-top>ul>li>a {
    padding: 5px 15px;
    color: #5c5a5a;
}

nav.nav-top>ul>li>a:hover {
    background-color: #0E5C66;
    color: #fff;
}

nav.nav-top>ul>li {
    list-style: none;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

#personal-info {
    flex: 1;
    margin-top: 60px;
    padding: 0 15px;
}

main {
    display: flex;
}

#list-post {
    display: flex;
    flex-wrap: wrap;
}

.post-container-item {
    flex: 0 1 28%;
}

#side-bar {
    /*en pantallas grandes 30vh*/
    /*celulares 100% */
    flex: 0 1 0;
}

.article {
    color: black;
    height: 80px;
}

.card {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 2px #ccc8c8;
    color: #000;
    margin: 15px;
}

.tags-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.tag-item a {
    font-size: 12px;
    background-color: #0E5C66;
    color: #fff;
    padding: 0 4px;
}

.btn-verde {
    background-color: #0E5C66;
    color: #fff;
    border: none;
    padding: 5px 15px;
}

.personal-info .fa {
    width: 30px;
    margin: 5px;
}

/*detalle articulos*/
.container-articulos {
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
}

.detalle-articulo {
    max-width: 95%;
}

.article-data {
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 10px
}

.article-data .fa {
    font-size: 20px;
    width: 20px;
}

pre.highlight {
    background-color: black;
    color: white;
    padding: 10px;
}

.link-logo-header-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/*portafolio*/

/*PORTAFOLIO*/
.portafolio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail-portafolio {
    flex: 0 1 20rem;
    text-align: center;
    border: solid 1px #007bb5;
    min-height: 430px;
    margin: 0.8rem;
}

.container-desc-portafolio {
    padding: 0 5px;
}

.border-primary {
    border: solid 1px #008492;
    padding: 1rem;
}

.btn-verproyecto:hover {
    color: #008492;

}

.skills {
    display: flex;
    align-items: flex-end;
}


/*BIO HOME*/

#bio-intro {
    display: flex;
    justify-content: space-between;
}

ul>li {
    margin: 10px;
}

li {
    list-style: none;
}

.btn-verde:hover {
    background-color: white;
    color: #008492;
    border: solid 1px #008492;
}

a:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    main {
        width: 100vw;
    }

    .link-logo-header {
        display: none;
    }

    .link-logo-header-mobile {
        display: flex;
    }
}