/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: "Arial", sans-serif;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
.icon-tech {
  color: #0E5C66;
  font-size: 36px;
  padding: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.skills .fa {
  color: #0E5C66;
}

.icon-tech:hover,
.skills .fa:hover {
  color: #007bb5;
  cursor: pointer;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
a,
a:hover {
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

li {
  list-style: none;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*ICONS*/

/* ==========================================================================
Author's custom styles
========================================================================== */
header {
  width: 100%;
  position: fixed;
  z-index: 1000000;
  height: 62px;
  box-shadow: 0px 0px 10px #000;
  background: #fff;
  border-bottom: none;
}

.colored-logo {
  color: #fff;
  font-size: 30px;
  line-height: 10px;
  padding: 0px 5px 4px;
  background-color: #0E5C66;
}

.link-logo-header {
  height: 60px;
  line-height: 60px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 25px;
  font-weight: bold;
}

.nav-top {
  width: 66%
}

.nav-top>ul>li>a {
  float: left;
  position: relative;
  display: block;
  padding: 5px 15px;
  color: #5c5a5a;
}

.nav-top>ul>li>a:hover {
  background-color: #0E5C66;
  color: #fff;
}

.container {
  padding-top: 85px;
}

.biography {}

.yo-img {
  display: block;
  max-width: 250px;
  height: 250px;
  border: 5px solid #eee;
  background: #fff;
  padding: 5px;
  margin: 0 auto 20px auto;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

.container-quien {
  padding: 5px 15px;
  color: #fff;
  margin: 20px 0;
}

#container-services {
  margin: 20px auto;
}

.service-item {}

.item-container {
  width: 98%;
  display: block;
  margin: 0 auto;
  border: solid 1px #007bb5;
  padding: 10px
}

.service-item .fa {
  font-size: 60px;
  padding: 10px;
  width: 85px;
  text-align: center;
  text-decoration: none;
  color: #007bb5;
}

.item-container:hover {
  background-color: #007bb5;
  color: #fff;
  cursor: pointer;
}

.item-container:hover .fa {
  color: #fff;
}

/*POST*/
.mes-fecha {
  background-color: #0E5C66;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.dia-fecha {
  background-color: #ececec;
  padding: 5px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.titulo-post a {
  font-size: 17px;
  margin-left: 5px;
  color: #0E5C66;
}

.btn-ver-mas-art {
  background-color: #0E5C66;
  padding: 5px 10px;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 30%;
}

.btn-ver-mas-art:hover {
  background-color: #fff;
  color: #0E5C66;
  border: solid 1px #0E5C66;
}