/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body{
  font-family: "Arial", sans-serif;
}
/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
.icon-tech{
  color: #0E5C66;
  font-size: 36px;
  padding: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.skills .fa{
  color:#0E5C66;
}
.icon-tech:hover,.skills .fa:hover {
  color:#007bb5;
  cursor: pointer;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
a, a:hover{
  text-decoration: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}
li{
  list-style: none;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*ICONS*/

/* ==========================================================================
Author's custom styles
========================================================================== */
header{
  width: 100%;
  position:fixed;
  z-index: 1000000;
  height: 62px;
  box-shadow: 0px 0px 10px #000;
  background: #fff;
  border-bottom: none;
}

.colored-logo{
  color: #fff;
  font-size: 30px;
  line-height: 10px;
  padding: 0px 5px 4px;
  background-color: #0E5C66;
}
.link-logo-header{
  height: 60px;
  line-height: 60px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 25px;
  font-weight: bold;
}
.nav-top{
  width:66%
}
.nav-top > ul > li > a {
  float: left;
  position: relative;
  display: block;
  padding: 5px 15px;
  color:#5c5a5a;
}
.nav-top > ul > li > a:hover{
  background-color: #0E5C66;
  color:#fff;
}
.container {
  padding-top: 85px;
}
.biography{

}
.yo-img{
  display: block;
  max-width: 250px;
  height: 250px;
  border: 5px solid #eee;
  background: #fff;
  padding: 5px;
  margin: 0 auto 20px auto;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}
.container-quien{
  padding: 5px 15px;
  color:#fff;
  margin: 20px 0;
}

#container-services{
  margin: 20px auto;
}
.service-item{
}
.item-container{
  width: 98%;
  display: block;
  margin: 0 auto;
  border: solid 1px #007bb5;
  padding: 10px
}
.service-item .fa{
  font-size: 60px;
  padding: 10px;
  width: 85px;
  text-align: center;
  text-decoration: none;
  color:  #007bb5;
}
.item-container:hover {
  background-color: #007bb5;
  color: #fff;
  cursor: pointer;
}
.item-container:hover .fa{
  color: #fff;
}

/*POST*/
.mes-fecha{
  background-color:#0E5C66;
  padding: 5px;
  text-align: center;
  color: #fff;
}
.dia-fecha{
  background-color:#ececec;
  padding: 5px;
  text-align: center;
  color: #000;
  font-weight: bold;
}
.titulo-post a{
  font-size: 17px;
  margin-left: 5px;
  color: #0E5C66;
}
.btn-ver-mas-art{
  background-color: #0E5C66;
  padding: 5px 10px;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 30%;
}
.btn-ver-mas-art:hover{
  background-color: #fff;
  color:#0E5C66;
  border: solid 1px #0E5C66;
}
/*portafolio*/

/* Controls
---------------------------------------------------------------------- */

.controls {
  padding: 1rem;
  font-size: 0.1px;
}

.control {
  position: relative;
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  font-size: 0.1px;
  color: white;
  transition: background 150ms;
}

.control:hover {
  background: #3f3f3f;
}

.control[data-filter]:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  border: 2px solid currentColor;
  border-radius: 2px;
  background: currentColor;
  transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
  transform:  translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
  background: #393939;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.control:first-of-type {
  border-radius: 3px 0 0 3px;
}

.control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
  margin-left: .75rem;
}

.control[data-filter=".green"] {
  color: #91e6c7;
}

.control[data-filter=".blue"] {
  color: #5ecdde;
}

.control[data-filter=".pink"] {
  color: #d595aa;
}

.control[data-filter="none"] {
  color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */
.container-portafolio {
  padding: 1rem;
  text-align: justify;
  font-size: 0.1px;
}

.container-portafolio:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
  display: inline-block;
  vertical-align: top;
}

.mix {
  background: #fff;
  border-top: .5rem solid red;
  border-radius: 2px;
  margin-bottom: 1rem;
  position: relative;
}

.mix:before {
  content: '';
  display: inline-block;
}
.mix > img{
  width: 100%
}

/*PORTAFOLIO*/
.thumbnail-portafolio{
  text-align: center;
  border: solid 1px #007bb5;
}
.container-desc-portafolio{
  padding:0 5px;
}
.btn-verproyecto:hover{
  color: #008492;

}
.skills{
  display: flex;
  align-items: flex-end;
}
/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
  width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
  .mix,
  .gap {
    width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
  }
}

/* 4 Columns */

@media screen and (min-width: 1281px) {
  .mix,
  .gap {
    width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
  }
}
